{{ define "main" -}}

{{ if ne .Type "page" -}}
  <div class="post">
    <h1 class="post-title">{{ .Title }}</h1>
      <time class="post-date" datetime='{{ .Date.Format `2006-01-02T15:04:05Z07:00` | safeHTML }}'>
        {{ .Date | time.Format ":date_full" }}, {{ .Date | time.Format ":time_short" }}
      </time>
    	{{ .Content }}
    	{{ partial "share.html" .}}
      {{ range (.GetTerms "tags") }}
        <a class="tags" href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
      {{ end }}
  {{ partial "related.html" . }}
  </div>


  {{ if .Site.DisqusShortname -}}
  <h2>Comments</h2>
  {{ template "_internal/disqus.html" . }}
  {{- else}}
  {{ .Site.Params.custom_msg_comments | markdownify}}
  {{- end }}
{{- else }}
  <div class="page">
    <h1 class="page-title">{{ .Title }}</h1>
      {{ .Content }}
  </div>
{{- end }}

{{- end }}
